# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=

# Keycloak
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_HOSTNAME=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# Grafana
GRAFANA_PASSWORD=

# No VAULT_TOKEN — authentication via AWS IAM role
